.ws-org-pfsite-l-footer.pf-c-page__main-section {
  font-family: "RedHatText";
  font-weight: 300;
  background-color: #1a1a1a !important;
  padding: 48px;
  padding-top: 32px;
}
.ws-org-pfsite-l-footer .ws-org-pfsite-footer-menu-list-title {
  margin: 0;
  padding: 6px 0;
  font-weight: 700 !important;
  font-size: 14px !important;
  color: #fff;
  text-transform: uppercase;
}
.ws-org-pfsite-l-footer .ws-org-pfsite-l-footer-column {
  background-color: #333;
  height: 100%;
}
.ws-org-pfsite-l-footer-column .ws-org-pfsite-footer-menu-about-logo {
  padding-top: 12px;
}
.ws-org-pfsite-l-footer-column .ws-org-pfsite-footer-menu-about-description {
  font-size: 14px !important;
  color: #fff;
}
@media (max-width: 992px) {
  .ws-org-pfsite-l-footer-column .ws-org-pfsite-footer-menu-about-description {
    padding-bottom: 16px;
  }
}
.ws-org-pfsite-l-footer-column .ws-org-pfsite-footer-menu-social-links a {
  margin-right: var(--pf-global--spacer--md);
  color: var(--pf-global--Color--light-100) !important;
}
.ws-org-pfsite-l-footer-column
  .ws-org-pfsite-footer-menu-social-links
  a:last-of-type {
  margin-right: 0;
}
@media (max-width: 992px) {
  .ws-org-pfsite-l-footer-column .ws-org-pfsite-footer-menu-social-links {
    margin-bottom: 16px;
  }
}
@media (max-width: 768px) {
  .ws-org-pfsite-l-footer-column .ws-org-pfsite-footer-menu-social-links {
    margin-bottom: 32px;
  }
}
.ws-org-pfsite-l-footer ul.pf-c-nav__list.pf-c-nav__list-footer {
  margin: 1rem 0 0;
  padding: 0;
}
@media (min-width: 992px) {
  .ws-org-pfsite-l-footer ul.pf-c-nav__list.pf-c-nav__list-footer {
    margin: 1rem 0 0;
    width: 84%;
  }
}
@media (min-width: 768px) {
  .ws-org-pfsite-l-footer ul.pf-c-nav__list.pf-c-nav__list-footer {
    display: block;
    height: auto !important;
  }
}
.ws-org-pfsite-l-footer
  ul.pf-c-nav__list.pf-c-nav__list-footer
  li.pf-c-nav__item {
  font-size: 1.2rem;
  padding: 0 0 16px;
  line-height: 1.3;
  margin-left: 0;
  padding-left: 0;
  padding-right: 10px;
}
.ws-org-pfsite-l-footer .pf-c-nav__list a.pf-c-nav__link {
  padding: 0;
  color: var(--pf-global--Color--light-100);
  font-size: 14px !important;
}
.ws-org-pfsite-l-footer .pf-c-nav__list a.pf-c-nav__link:hover {
  text-decoration: underline;
}
.ws-org-pfsite-l-footer .pf-c-nav__list a.pf-c-nav__link:hover::after {
  left: 0 !important;
  background-color: transparent !important;
}
.ws-org-pfsite-l-footer .pf-c-nav__list .pf-c-nav__link.pf-m-focus::after,
.ws-org-pfsite-l-footer .pf-c-nav__list .pf-c-nav__link:focus::after {
  content: none;
}
@media screen and (max-width: 768px) {
  .pfsite-l-footer-column {
    margin-left: -16px;
  }
}

.ws-org-pfsite-l-footer-dark {
  padding: 1rem !important;
  background: #151515 !important;
}
.ws-side-nav-layout .pf-c-page__main-section.ws-org-pfsite-l-footer-dark {
  /* disables the default flex-grow: 1 for the last .pf-c-page__main-section in a block */
  flex-grow: 0;
}
.pf-c-page__main-section.ws-org-pfsite-l-footer-dark > * {
  font-family: "RedHatDisplay";
  font-weight: 300;
  font-size: 12px;
  color: #d2d2d2;
}
.ws-org-pfsite-l-footer-dark a {
  padding-right: var(--pf-global--spacer--sm);
  padding-left: var(--pf-global--spacer--sm);
  border-right: var(--pf-global--BorderWidth--sm) solid #d2d2d2;
  font-family: "RedHatDisplay";
  font-weight: 300;
  color: #d2d2d2;
  text-decoration: underline;
}
.ws-org-pfsite-l-footer-dark a:first-of-type {
  padding-left: 0;
}
.ws-org-pfsite-l-footer-dark a:last-of-type {
  padding-right: 0;
  border: none;
}

.ws-org-pfsite-site-copyright {
  white-space: nowrap;
}
