.ws-page-header {
  background-color: #151515;
  min-height: auto;
}

@media (min-width: 992px) {
  .ws-page-header .pf-c-page__header-nav {
    margin-left: 12px;
  }
}

.ws-page-header .pf-c-nav__scroll-button  {
  outline-offset: -4px;
  height: 100%;
  top: 0;
}

.ws-page-header .pf-c-nav__scroll-button {
  outline-offset: -4px;
  height: 100%;
  top: 0;
}
.ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__item {
  margin-right: 0;
}
.ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__link {
  padding-top: 22px;
  padding-right: var(--pf-global--spacer--md);
  padding-left: var(--pf-global--spacer--md);
  color: var(--pf-global--Color--light-100);
}
@media (max-width: 991px) {
  .ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__link {
    padding-top: 10px;
  }
}
.ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__link::after {
  top: 0 !important;
  height: 4px;
}
.ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__link:active, .ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__link:hover {
  background-color: var(--pf-global--BackgroundColor--light-100);
  color: #151515 !important;
  font-weight: var(--pf-global--FontWeight--normal);
  transition: 0.5s;
}
.ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-current {
  background-color: var(--pf-global--BackgroundColor--light-100);
  color: #151515 !important;
  font-weight: var(--pf-global--FontWeight--normal);
}
.ws-page-header li a::after {
  content: "";
  position: absolute;
  left: 50% !important;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: var(--pf-global--BackgroundColor--light-100);
  color: #151515 !important;
  transition: transform 250ms;
}
.ws-page-header li a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
.ws-page-header li a.pf-m-current::after {
  left: 0 !important;
  transform: none;
}
.ws-page-sidebar#page-sidebar {
  color: white;
  box-shadow: none;
}

.ws-page-sidebar  .pf-c-nav {
  margin-top: 16px;
}

.pf-site-search {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 2px;
  padding-left: 0;
  width: 150px;
  background: transparent;
  transition: 250ms;
}
.ws-page-header .pf-c-page__header-brand-toggle {
  display: none;
  visibility: hidden;
}
@media (max-width: 768px) {
  .pf-site-search {
    width: 100px;
  }
  .ws-page-header .pf-c-page__header-brand-toggle {
    display: block;
    visibility: visible;
  }
}
.pf-site-search:focus-within {
  background: #fff;
}
.pf-site-search svg path {
  fill: var(--pf-global--Color--light-100);
}
.pf-site-search:focus-within svg path {
  fill: #fff;
}
.pf-site-search .pf-c-form__label {
  --pf-c-form__label--FontSize: var(--pf-global--FontSize--lg);
}
.pf-site-search #global-search-input {
  background: #151515;
  border: 0;
  color: #fff;
  padding-left: 25px;
}
.pf-site-search #global-search-input:focus {
  outline-offset: 2px;
}
.pf-site-search #global-search-input::placeholder,
.pf-site-search #global-search-input::-webkit-input-placeholder,
.pf-site-search #global-search-input::-moz-placeholder,
.pf-site-search #global-search-input:-ms-input-placeholder,
.pf-site-search #global-search-input:-ms-input-placeholder {
  color: var(--pf-global--Color--light-100);
}

.ws-org-version-switcher {
  margin-right: 8px;
}
.ws-org-version-toggle {
  color: var(--pf-global--Color--light-100);
}
.ws-org-version-toggle::before {
  border: none;
}
.ws-org-version-toggle:hover {
  border-bottom: 1px solid #fff;
}
.ws-org-version-toggle-expanded::before {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #fff;
}

/* Hide version switcher on mobile */
@media screen and (max-width: 768px) {
  .ws-page-header {
      grid-template-columns: 3fr 1fr;
  }
      
  .ws-page-header .pf-c-page__header-brand-link {
      justify-content: center;
  }
  
  .ws-page-header .pf-l-toolbar__item:first-child {
    display: none;
  }
}
/* serves as the main page container */
.ws-side-nav-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* tells .pf-c-page to consume the available space left over from the banners/footers */
.ws-page {
  flex: 1 1;
  height: auto;
}

.ws-switcher-divider {
  padding: 0 16px;
}

.ws-patternfly-3 > svg {
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .ws-page-header .algolia-autocomplete #global-search-input ~ .ds-dropdown-menu {
    right: 0 !important;
    width: 500px;
    max-width: calc(100vw - 32px);
    min-width: 288px;
  }
}
